.login {
  background-color: #ffffff;
  background-image: url('./Assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #000;
}

.login .kgf{
  width:100%;
  border-radius: 5px;
margin-top: 25px;
color: #fff;
font-size: 20px;
}
.wide-select {
  width:100%;
}
.gh{
  margin-top: 25px;

}
.login p
{
color: red;
}


.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #1976d2 !important;
  color: #fff !important;
  border: none !important;
  }
